#header{
text-align: center;
}
#img1{
width:500px;
}
p{
font-size: 25px;    
}
#img2{
width: 500;
}
body{
background-color:aqua;
}
#img3{
width:500;
height: 350;
}
#img4{
width:500;
}